.button {
  border-style: solid;
  border-width: 1px;

  color: $colors-pure-white;

  &:not(.disabled),
  &:not(:disabled) {
    background-color: $colors-grey-500;
    border-color: $colors-grey-500;
  }

  &:hover, &.mouseHover {
    background-color: $colors-grey-400;
    border-color: $colors-grey-400;
  }
  &:active, &.active {
    background-color: $colors-grey-300;
    border-color: $colors-grey-300;
  }
  &.disabled {
    color: $colors-grey-400;
    background-color: $colors-grey-200;
    border-color: $colors-grey-200;
  }
}
