$commentsEmptyHistoryHeaderColor: $colors-mono-500;

.emptyHistoryIcon {
  margin: 0 0 var(--spacing-3) 0;
  color: $commentsEmptyHistoryHeaderColor;
}

.emptyHistory {
  padding: var(--spacing-2) 0 0 0 !important;
}

.emptyHistoryHeader {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary-bold);
  font-size: var(--font-size-5);
  line-height: var(--line-height-6);
  color: $commentsEmptyHistoryHeaderColor;
}

.emptyHistorySubHeader {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
  line-height: 1.375rem;
  color: $commentsEmptyHistoryHeaderColor;
}

.loadMore {
  background-color: $colors-pure-white;

  &:disabled,
  &.disabled {
    color: $colors-pure-white;
    background-color: $colors-grey-300;
  }

  &:not(.disabled),
  &:not(:disabled),
  &:not(.mouseHover),
  &:not(:hover),
  &:not(.active),
  &:not(:active) {
    &.colorRegular {
      color: $colors-stream-blue-500;
      border-color: $colors-stream-blue-500;
    }
  }

  &:not(.disabled),
  &:not(:disabled) {
    &.mouseHover,
    &:hover {
      color: $colors-pure-white;
      &.colorRegular {
        background-color: $colors-stream-blue-500;
      }
    }

    &.active,
    &:active {
      color: $colors-pure-white;
      &.colorRegular {
        background-color: $colors-stream-blue-800;
        border-color: $colors-stream-blue-800;
      }
    }
  }
}
