$story-search-background: $colors-teal-600;

$story-search-story-title: $colors-mono-900;
$story-search-story-detail: $colors-mono-100;
$story-search-story-background: $colors-pure-white;
$story-search-story-hover: $colors-grey-100;

$story-search-input-text: $colors-mono-100;
$story-search-input-label: $colors-mono-500;
$story-search-input-background: $colors-pure-white;

$story-search-button-background: $colors-teal-900;
$story-search-button-foreground: $colors-pure-white;

$story-search-group-background: $colors-teal-900;
$story-search-group-foreground: $colors-pure-white;

$story-search-results-heading: $colors-white-500;
$story-search-results-heading-background: $colors-grey-500;

$story-search-results-see-all-label: $colors-white-500;
$story-search-results-see-all-background: $colors-teal-900;
$story-search-results-see-all-hover: $colors-teal-700;
$story-search-results-see-all-border: $colors-grey-400;
$story-search-results-see-all-divider: $colors-grey-300;
