.container {
  margin-top: var(--v2-spacing-5);
  margin-bottom: var(--v2-spacing-5);
}

.icon {
  min-width: 18px;
  margin-right: var(--spacing-2);

  color: var(--v2-colors-red-500);
}

  margin-bottom: var(--v2-spacing-1);
}
